Trailing slash added to the root route when uses a different base href than the default

## I'm submitting a...
<!-- Check one of the following options with "x" -->
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report  <!-- Please search GitHub for a similar issue or PR before submitting -->
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
With a different base-href of `<base href="/" />`, for example `<base href="/en" />`, when you go to the root route a trailing slash is added/redirected. (The redirect happens on the browser (obviously) and the links are wrong when use the routerLink)
Examples: 
 - https://example.com/en -> https://example.com/en/
 - https://example.com/en/some-page -> no trailing slash / no redirect

## Expected behavior
No add trailing slashes to urls.


## Minimal reproduction of the problem with instructions
1. Change the default base-href from `<base href="/" />` to `<base href="/en" />`
2. Create a route `some-route` and use one routerLink to root and one to the new route.
  - Check the link created. The root link is created like `https://example.com/en/` and the other `https://example.com/en/some-route`
3. Go to root page: https://example.com
  - Look the redirection to `https://example.com/en/`
4. Go to root page: https://example.com/en
  - Look the redirection to `https://example.com/en/`
5. Go to root page: https://example.com/en/some-route
  - Look that no redirection happens


http://plnkr.co/edit/OC5DFyvxmGESR48oXhKB?p=preview
Plunker Note: I can't reproduce the redirections on plunker environments, but you can see the links created 

## What is the motivation / use case for changing the behavior?
To have the same behaviour on all urls and links


## Environment

<pre><code>
Angular version: 5.1.0

Browser:
All browsers
 
For Tooling issues:
- Node version: 9.2.1
- Platform:  Mac

Others:
I'm also using the Angular-cli 1.6.0
</code></pre>


Same here.

@robwormald Any comments on this behavior?

any updates?

@jasonaden this issue is included on the next 6.0 release?

Same problem here with Angular 6.0.1. Will this be fixed or has anyone found a good workaround?

Please note that the href of `<base>` **MUST** end with tailing slash. (Unless you only need query and fragment change).

See:

+ https://perishablepress.com/html-base-tag/
+ https://stackoverflow.com/questions/1889076/what-are-the-recommendations-for-html-base-tag
+ https://stackoverflow.com/questions/26042822/relative-url-slash-when-using-base-tag

If Angular **DOES** follows the spec, then `/en` would be ignored in path when perform navigation, and the entire app would be broken. The current preprocess should be better then breaking.

I can replicate this issue by in new Angular Build as well.

After investigating with @alan-agius4  it currently seems like the `DefaultUrlSerializer.serialize` method is returning a prepended `/` by default.

` DefaultUrlSerializer.prototype.serialize = function (tree) {

   // This line here
    var segment = '/' + serializeSegment (tree.root, true);
    
   var query = serializeQueryParams (tree.queryParams);
    var fragment = typeof tree.fragment === 'string'
      ? '#' + encodeUriFragment (tree.fragment)
      : '';
    return '' + segment + query + fragment;
  };`

I believe the slash is added because application routes are absolute until serialised. A basic approach would be to override/extend the `DefaultUrlSerializer.serialize` method and if slash detected as absolute route then remove.

Initial tests suggest routing to child routes with this approach works fine. 

`import { UrlTree, DefaultUrlSerializer } from '@angular/router';

export class OverrideUrlSerializer extends DefaultUrlSerializer {
    serialize(tree: UrlTree): string {
        if (tree.toString() === '/') {
            return '';
        }
        return super.serialize(tree);
    }
}`

I came up with this by inspecting the call stack to `history.replaceState`:

```javascript
{
  provide: LocationStrategy,
  useClass: BaseHrefPathLocationStrategy
}
```
and
```javascript
import { Location, PathLocationStrategy } from '@angular/common';
import { Injectable } from '@angular/core';

@Injectable()
export class BaseHrefPathLocationStrategy extends PathLocationStrategy {
  prepareExternalUrl(url: string) {
    return Location.stripTrailingSlash(super.prepareExternalUrl(url));
  }
}
```
This seems to work, but I'm unsure if it breaks anything else.

As noted by @trotyl, your base href should have a trailing slash. You *might* consider this a bug in how Angular handles routes when the trailing slash is omitted, but that would certainly not result in the behavior you want. Again as @trotyl noted, this would result in the `/en` portion being ignored completely. Per the spec, to get the target path, you would use `T.path = merge(Base.path, R.path);` The merge strategy is

>   return a string consisting of the reference's path component
>       appended to all but the last segment of the base URI's path (i.e.,
>       excluding any characters after the right-most "/" in the base URI
>       path, or excluding the entire base URI path if it does not contain
>       any "/" characters).

[RFC 3986, section 5.2.2: Transform References](https://tools.ietf.org/html/rfc3986#section-5.2.2)
[RFC 3986, section 5.2.3: Merge Paths](https://tools.ietf.org/html/rfc3986#section-5.2.3)

If this is not acceptable for your use-case, you can implement your own `LocationStrategy` as noted by @hansottowirtz in https://github.com/angular/angular/issues/21003#issuecomment-504777969.