Persist QueryParams on bootstrap/load of the application

<!--
IF YOU DON'T FILL OUT THE FOLLOWING INFORMATION WE MIGHT CLOSE YOUR ISSUE WITHOUT INVESTIGATING
-->

**I'm submitting a ...**  (check one with "x")
```
[X] bug report => search github for a similar issue or PR before submitting
[ ] feature request
[ ] support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
```

**Current behavior**
By Default when we try to load the application with `query params` and `state-name`, the query params are removed. 

For instance, if i load my application like below:

`https://my.application.com/?param1=val1&param2=val2&param3=val3#/state-name`

It changes the url without persisting the query params like below: 

`https://my.application.com/state-name`

**Expected behavior**
It should persist the query params and the url should change the state-name alone. 

**Initial on the first load of my application:**
```https://my.application.com/?param1=val1&param2=val2&param3=val3#/state-name```

**State changed, when i navigate to another state:**
```https://my.application.com/?param1=val1&param2=val2&param3=val3#/changed-state-name```

```Query params``` can change, but it should be ```persisted``` which is not happening right now. 

* **Please tell us about your environment:**
Ubuntu , Chrome  

* **Angular version:** 2.0.X
Angular 2.2

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView ]
<!-- All browsers where this could be reproduced -->
 
* **Language:** [all | TypeScript X.X | ES6/7 | ES5]

actually angular preserve queryParams on load  of the application, can you put queryParams at the end of url

i think you are using `HashLocationStrategy` instead of  `PathLocationStrategy`

@vinothbabu pls add a plunkr with repro

@DzmitryShylovich plunkr would not help here as the issue is on the browser url where it fails to persist the query params. you could try it out with any angular application you have in local with like below: 

```https://localhost:3000/?param1=val1&param2=val2&param3=val3#/state-name```

Note the state-name at the end, loading like this would remove the query params and would load it either of one below: 

```https://localhost:3000/state-name```

Or

```https://localhost:3000```

@dejour You meant to say, you want to add it after the state-name? Like below:

```https://localhost:3000/state-name/?param1=val1&param2=val2&param3=val3#/state-name```

Below is my app-routing.ts

```
const app_routes: Routes = [
  { path: '',  pathMatch:'full', redirectTo: 'state-name'},
  { path: 'state-name', component: STComponent}
];

export const app_routing = RouterModule.forRoot(app_routes);

```

shouldn't it be like
`https://localhost:3000/#/state-name?param1=val1&param2=val2&param3=val3`?

> plunkr would not help here as the issue is on the browser url

1. open a plunkr in a new window http://prntscr.com/e4osn1
2. copy paste url in a new tab
After that you will be able to edit url manualy

In Angular 1.x, my url is like below which works perfectly fine: 

```http://localhost:3000/angular-app/?env=local&channel=Web&tSwitch=true&tokenId=B4E13E121E9D37AEAAFD27AE6D2E7A25#/account-balance```

It still loads like this for me:
```https://run.plnkr.co/kll9idQSTWpKmCNH/```

@vinothbabu pls provide a github repo then

@vinothbabu did you fit it?

Just in case there's still some confusion on this, here's a plnkr to describe the problem:

[https://run.plnkr.co/4kn6f5bhzysDv5gQ/?a=1&b=2](https://run.plnkr.co/4kn6f5bhzysDv5gQ/?a=1&b=2)

As you can see, the query params  are striped out of the URL on app load.  This is not ideal.  If I go to` www.github.com?search=angular` and github is using the `hashlocationstrategy`, you would expect it to redirect to `www.github.com/#/?search=angular` not just ignore everything and go to `www.github.com/#/`

Please correct me if I am misinterpreting the issue.  I'm struggling with this as well. 

even i am facing same issue it there a solution for this issue.
i use hashlocationstrategy and on bootstrap of application QueryParams gets replaced with #

This really does need fixing as it makes things like using params for tracking purposes impossible. I ended up removing `pathMatch:'full'` and setting up a component to preserve the params, like below...

```
  {
    path: '',
    component: HomeRedirectComponent
  }
```
```
export class HomeRedirectComponent {
  constructor(private activatedRoute: ActivatedRoute, private router: Router) {
    activatedRoute.queryParams.subscribe((params: Params) => {
      router.navigate(['/home'], {
        queryParams: params,
        queryParamsHandling: 'merge'
      });
    });
  }
}
```
This really shouldn't be necessary though.

yup this is a source of confusion for many people https://stackoverflow.com/questions/39898656/angular2-router-keep-query-string

#36688 is related to this report as well. One solution is to create a custom `LocationStrategy` rather than use the `HashLocationStrategy` to make this work for this particular use-case. See https://github.com/angular/angular/issues/36688#issuecomment-619091282

Any solution that involves changing the behavior in the framework code should be a configurable opt-in option rather than a change to the default behavior as users may be relying on how it currently works.

After further review, this is working as intended in the framework. Again, if this is not acceptable for your specific use-case, you can always provide your own implementation for `LocationStrategy` and/or `PlatformLocation`.

When using `PathLocationStrategy`, a base href is required. Additionally note that with `PathLocationStrategy`, query params will not be persisted from the base href. You can find how target URIs are constructed in [RFC 3986, section 5.2.2: Transform References](https://tools.ietf.org/html/rfc3986#section-5.2.2):
```
         else
            if (R.path == "") then
               T.path = Base.path;
               if defined(R.query) then
                  T.query = R.query;
               else
                  T.query = Base.query;
               endif;
            else
               if (R.path starts-with "/") then
                  T.path = remove_dot_segments(R.path);
               else
                  T.path = merge(Base.path, R.path);
                  T.path = remove_dot_segments(T.path);
               endif;
               T.query = R.query;
            endif;
            T.authority = Base.authority;
         endif;
```
The pseudo-code above shows that `Base.query` is only used in the target when path is empty. This means that if you want to persist query params, you must use `HashLocationStrategy`, or `{useHash: true}`.

You have a few options for keeping the query params:
* Put the query params in the `base href` and use `HashLocationStrategy`
* Use `HashLocationStrategy` and *do not* provide a `base href` at all
* Implement your own `LocationStrategy`. Specifically, `prepareExternalUrl` is likely where you'll want to make a change, as noted in https://github.com/angular/angular/issues/36688#issuecomment-619091282 and https://github.com/angular/angular/issues/21003#issuecomment-504777969