BrowserPlatformLocation pushState and replaceState use incorrect origin

<!--
PLEASE HELP US PROCESS GITHUB ISSUES FASTER BY PROVIDING THE FOLLOWING INFORMATION.

ISSUES MISSING IMPORTANT INFORMATION MAY BE CLOSED WITHOUT INVESTIGATION.
-->

## I'm submitting a...
<!-- Check one of the following options with "x" -->
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report  <!-- Please search GitHub for a similar issue or PR before submitting -->
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
[ ] Other... Please describe:
</code></pre>

## Current behavior
Consider a setup in which the base URL of the index.html is different from the location  that the document is accessed from (see example below). 

Angular calls the pushState and replaceState during routing with a server relative URL (i.e. starting with a '/' but without host or domain (i.e. no origin)).
In this case the browser's implementation of history.pushState and history.replaceState will construct an absolute URL using the domain of the base tag. In this usecase  this does not match the window's domain, so the operation fails.

## Expected behavior

Angular should use absolute URLs for pushState and replaceState and should use the window origin, not the document origin. This is because the navigation happens on the window URL, not the document URL.

## Minimal reproduction of the problem with instructions

Configure your index.html like this:

```html
<!doctype html>
<html lang="en">

<head>
  <!-- my CDN --> 
   <base href="http://my.cdn.org/myapp/">
<body>
...
</body>
</html>
```

Expose the 'APP_BASE_HREF' like this:

```typescript
@NgModule({
  declarations: [AppComponent, TestComponent],
  imports: [BrowserModule, AppRoutingModule],
  providers: [
    {
      provide: APP_BASE_HREF,
      useValue: '/my-context-root/'
    }
  ],
  bootstrap: [AppComponent]
})
export class AppModule {}
```

Access the application like this:

```
https://my-domain.com/my-context-root/
```

## What is the motivation / use case for changing the behavior?

Motivation:
- suppose you have a custom domain 'https://my-domain.com' but no efficient CDN in front of your domain
- I would like to host the "heavy" application binaries on a CDN (which does not have my desired hostname) but use my own domain for navigation purposes

- so I'd like to point the <base> url to my CDN's entry point
- expose the context root of my app via the APP_BASE_URL token
- Angular should just preserve the origin that I used to navigate to the app

## Environment

<pre><code>
Angular version: 6.1.1

Browser:
- [x] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [x] Firefox version XX
- [ ] Safari (desktop) version XX
- [ ] Safari (iOS) version XX
- [ ] IE version XX
- [ ] Edge version XX
 
</code></pre>


Suggestion how to address this:
- allow APP_BASE_HREF to be an absolute URL

The issue makes sense. Can you please provide a Github repo or StackBlitz that would show this problem in a running app? Is this something you would like to help with as a community contribution?

So my experience has been that using an absolute `APP_BASE_HREF` works fine but only if the application is hosted in the root.  If I host the app at some non-root location, I get an exception somewhere deep inside the route matching logic, but only when I first load the page.  I can then select any router link and it works fine; if I reload the page at any location it fails.

For example, if I have an app hosted at `https://example.com`, and my index.html sets a base href of `https://somecdn.com/some/path`, and my `APP_BASE_HREF='https://example.com'`, everything seems to work fine, all router links are correct, etc.  But if I move my app to `https://example.com/v1.3.15`, it doesn't work fully anymore.  When I initially load the page, I get an exception like `ERROR Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'v1.3.15'`, and the initial route doesn't load.  However, if I click on any router link in the app, all the different routes load fine...

Marking as needs reproduction. Please provide a Stackblitz or Github reproduction of the issue.

This appears to be resolved in that `APP_BASE_HREF` _does_ allow absolute URLs and works as expected. Additionally note that `APP_BASE_HREF` _must_ be absolute in this scenario for the URL to be constructed as described. [RFC 3986, section 5.2.2: Transform References](https://tools.ietf.org/html/rfc3986#section-5.2.2) outlines how this works with pseudo-code:
```
         if defined(R.authority) then
            T.authority = R.authority;
            T.path      = remove_dot_segments(R.path);
            T.query     = R.query;
         else
               ...
            T.authority = Base.authority;
```
That is, if the URI (R) does not provide its own authority, it uses the one from the `base href`.

@rlodge, it looks like you need to update the `APP_BASE_HREF` to be `https://example.com/v1.3.15/`, otherwise the Angular router will try to match the version part of the URL.