Angular 7 Router strips Query String in base Href

# 🐞 bug report

### Affected Package
The issue is caused by package @angular/router

### Is this a regression? (Technically, Yes)

<!-- Did this behavior use to work in the previous version? --> Yes, But in Angular JS ( Angular 1.6.9)


Posted it on StackOverflow First
https://stackoverflow.com/q/55852341/5724889 

Issue is Angular Router needs base href 

If base href is set like this 
`<base href="https://foo.dev.foo.com/emm/vehicle-results-cppResultsLanding.action?vehicleId=0000#!/">`


, Router removes the query strings and '#!' which is needed Since I am using Angular on an old Java servlet driven CMS

<base href="https://foo.dev.foo.com/emm/vehicle-results-cppResultsLanding.action?vehicleId=0000#!/">

For more details https://stackoverflow.com/q/55852341/5724889  



Hi @dota2Pro ,
You mean you have updated your existing AngularJS project to Angular 7 and you are facing this issue?

> Hi @dota2Pro ,
> You mean you have updated your existing AngularJS project to Angular 7 and you are facing this issue?

I am using Angular 7/8 and facing this issue with the Router.

Hi @dota2Pro, 
Could you please provide some steps on how to reproduce this issue? 

The StackOverflow link is dead btw. 

Thanks @dota2Pro, I think your problem is related to #12664 


@frankadrian The tagged issue is different, this issue is still present even if `preserveQueryParams`  is true or false, Issue is Router is removing Query String parameters from `Base href` url . It should not change base href at all 

@dota2Pro You may have some misunderstanding about URL resolution, you can check this being an expected behavior via:

```typescript
new URL('foo/bar', 'https://foo.dev.foo.com/emm/vehicle-results-cppResultsLanding.action?vehicleId=0000#!/').toString()

// "https://foo.dev.foo.com/emm/foo/bar"
```

See https://developer.mozilla.org/en-US/docs/Web/API/URL/URL for more information.

@dota2Pro 

> No base Href is defined in Angular JS , Angular Router doesn't work without <base href> defined

Both AngularJS and Angular supports **path location** and **hash location**, but AngularJS use hash routing by default, while Angular use path routing by default, please see official documentation for more information.

+ https://docs.angularjs.org/guide/$location#hashbang-and-html5-modes
+ https://angular.io/guide/router#appendix-locationstrategy-and-browser-url-styles

Here is exactly what in AngularJS doc:

> ### Base href constraints
> The `$location` service is not able to function properly if the current URL is outside the URL given as the base href. This can have subtle confusing consequences...
> 
> Consider a base href set as follows: `<base href="/base/">` (i.e. the application exists in the "folder" called `/base`). The URL `/base` is actually outside the application (it refers to the base file found in the root `/` folder).
> 
> If you wish to be able to navigate to the application via a URL such as `/base` then you should ensure that your server is setup to redirect such requests to `/base/`.

It seems like you want hash location, which doesn't relates to `<base href>` in both AngularJS and Angular. The issue channel is not designed for support questions.

@trotyl  Thanks for the info
The only reason I raised this as an issue is because I am trying to upgrade my application from Angular Js to Angular both have routing, The same routing functionality that worked in AngularJs doesn't work now in Angular.  as mentioned [above](https://github.com/angular/angular/issues/30149#issuecomment-545564265)

I wouldn't classify this as a support question



Hi @dota2Pro, after further investigation, this is working as intended. "Browsers do not simply concatenate your base href attributes and relative URLs. Instead, <base> tag sets the Document base URL which is then used to dynamically generate a new path."¹ [RFC 3986, section 5.2.2: Transform References](https://tools.ietf.org/html/rfc3986#section-5.2.2)² describes how the base href is used in URL resolution. In the pseudo-code there, you can see
```
            if (R.path == "") then
               T.path = Base.path;
               if defined(R.query) then
                  T.query = R.query;
               else
                  T.query = Base.query;
               endif;
```
Note that `R` is the URI reference, T is the final target, and Base is the base href. The query from the base is **only used if URI has no query and no path**. Additionally, you can see that the base fragment is never used in any code path.

So in order to use the query params in the base href, your URL *must* have an empty path. This means that you should use the `HashLocationStrategy`. Additionally, the fragment part in the base href is never used. If you wanted all your Angular URLS to also be preceded by `!` like in your example, you could do the following:

* set `{useHash: true}` 
* set `APP_BASE_HREF` to `!`
* set `<base href="https://foo.dev.foo.com/emm/vehicle-results-cppResultsLanding.action?vehicleId=0000">`

Note that if any of this is not acceptable for your specific use-case, you can also provide your own implementation for a `LocationStrategy` and/or `PlatformLocation`.

[1] - https://stackoverflow.com/a/26043021
[2] - https://tools.ietf.org/html/rfc3986#section-5.2.2